@font-face {
				font-family: "Roboto";
				src: url("../font/Roboto/Roboto-Thin.woff2");
				font-weight: 100;
				font-style: normal;
}
@font-face {
				font-family: "Roboto-Bold";
				src: url("../font/Roboto/Roboto-Bold.woff2");
				font-weight: 700;
				font-style: normal;
}
@font-face {
				font-family: "Graphik";
				src: url("../font/Graphik/Graphik-Bold.woff2");
				font-weight: 700;
				font-style: normal;
}
@font-face {
				font-family: "Graphik-Regular";
				src: url("../font/Graphik/Graphik-Regular.woff2");
				font-weight: 400;
				font-style: normal;
}
* {
				-webkit-box-sizing: border-box;
				        box-sizing: border-box;
}

body, html {
				font-family: "Graphik-Regular";
				font-weight: 400;
				font-style: normal;
				height: 100%;
				width: 100%;
				margin: 0;
}

ul, li {
				margin: 0;
				padding: 0;
				list-style: none;
}

a {
				text-decoration: none;
				color: #fff;
}

p {
				margin: 0;
}

h1, h2, h3, h4, h5, h6 {
				margin: 0;
				padding: 0;
}

button {
				color: #fff;
				outline: none;
				padding: 0;
				border: 1px solid transparent;
				background-color: transparent;
}

.conteiner {
				max-width: 1200px;
				margin: 0 auto;
}

.flex {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-ms-flex-pack: distribute;
				    justify-content: space-around;
}

.section1 {
				background-image: url(../../../img/section_1/bg-section.png);
				background-position: center;
				background-size: cover;
				text-align: center;
				color: #fff;
}

.header {
				padding: 50px 0 110px;
}
.header__item:not(:last-child) {
				margin: 0 41px 0 0;
}

.link:not(:last-child) {
				margin: 0 32px 0 0;
}

.head-section__title {
				font-family: "Graphik";
				font-style: normal;
				font-weight: 700;
				font-size: 74px;
				line-height: 84px;
				letter-spacing: 0.2px;
				max-width: 672px;
				display: inline-block;
				margin: 0 0 27px 0;
}
.head-section__text {
				font-size: 28px;
				line-height: 40px;
				max-width: 766px;
				display: inline-block;
				margin: 0 0 90px 0;
}
.head-section__button--btn {
				font-family: "Graphik";
				font-style: normal;
				font-weight: 700;
				margin: 0 0 243px 0;
				padding: 16px 0px;
				width: 236px;
				height: 52px;
				background: #2091F9;
				border-radius: 35px;
				font-size: 20px;
				line-height: 20px;
}

.features {
				padding: 126px 0 80px 0;
				color: #374754;
				text-align: center;
}
.features__title {
				font-weight: 400;
				font-size: 48px;
				line-height: 55px;
				letter-spacing: 0.2px;
				margin: 0 0 27px 0;
}
.features__text {
				font-size: 28px;
				line-height: 40px;
				letter-spacing: 0.2px;
				max-width: 532px;
				margin: 0 auto 97px;
}
.features__item {
				-webkit-box-pack: space-evenly;
				    -ms-flex-pack: space-evenly;
				        justify-content: space-evenly;
}
.features__block--img {
				margin: 0 0 27px 0;
}
.features__block--title {
				font-size: 20px;
				line-height: 28px;
				letter-spacing: 0.1px;
				max-width: 194px;
				margin: 0 auto 20px;
}
.features__block--text {
				font-size: 18px;
				line-height: 25px;
				letter-spacing: 0.2px;
				max-width: 231px;
}

.fast {
				padding: 226px 0;
				color: #374754;
}

.block__left {
				margin: 0 50px 0 0;
}
.block__left-title {
				max-width: 335px;
				font-weight: 400;
				font-size: 48px;
				line-height: 55px;
				letter-spacing: 0.2px;
				padding: 0 0 27px 0;
}
.block__left-text {
				max-width: 532px;
				font-size: 28px;
				line-height: 40px;
				letter-spacing: 0.2px;
				padding: 0 0 86px 0;
}
.block__left-btn {
				width: 236px;
				height: 60px;
				background: #2091F9;
				border-radius: 35px;
				font-family: "Graphik";
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 28px;
				letter-spacing: 0.1px;
}

.section4 {
				padding: 159px 0 52px 0;
				color: #252B42;
}

.left {
				margin: 0 113px 0 0;
}

.right {
				max-width: 457px;
}
.right__pretitle {
				font-family: "Graphik";
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 28px;
				letter-spacing: 0.1px;
				margin: 0 0 7px 0;
}
.right__title {
				font-weight: 400;
				font-size: 48px;
				line-height: 55px;
				letter-spacing: 0.2px;
				max-width: 324px;
				margin: 0 0 15px 0;
}
.right__text {
				max-width: 301px;
				font-weight: 400;
				font-size: 18px;
				line-height: 25px;
				letter-spacing: 0.2px;
				margin: 0 0 36px 0;
}
.right .right-form__input {
				width: 273px;
				height: 54px;
				background: #F4F4F4;
				border: 1px solid #E8E8E8;
				border-radius: 39px;
				padding: 0 0 0 20px;
}
.right .right-form__button {
				width: 172px;
				height: 58px;
				background: #2091F9;
				border-radius: 35px;
				border: none;
				font-weight: 400;
				font-size: 20px;
				line-height: 20px;
				letter-spacing: 0.2px;
				color: #FFFFFF;
}

.bold {
				font-family: "Graphik";
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 28px;
				letter-spacing: 0.1px;
}

.section5 {
				padding: 120px 0 80px 0;
				text-align: center;
}

.partner {
				letter-spacing: 0.2px;
				font-weight: 400;
}
.partner__title {
				font-size: 48px;
				line-height: 55px;
				color: #252B42;
				margin: 0 0 17px 0;
}
.partner__text {
				max-width: 552px;
				display: inline-block;
				font-size: 28px;
				line-height: 40px;
				color: #374754;
				margin: 0 0 80px 0;
}
.partner__button {
				margin: 80px 0;
}
.partner__btn {
				width: 236px;
				height: 60px;
				background: #2091F9;
				border-radius: 35px;
				font-family: "Graphik";
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 28px;
				letter-spacing: 0.1px;
}