.section {
    &-7 {
        padding: 110px 0 100px;
    }
}

.pricing {

    &__top {
    }

    &__title {
        font-family: 'Graphik-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 55px;
        text-align: center;
        letter-spacing: 0.2px;
        margin: 0 0 27px 0;
    }

    &__text {
        font-family: 'Graphik-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.2px;
        max-width: 532px;
        margin: 0 auto 90px;
    }

    &__bottom {
        font-family: 'Graphik-Regular';
        font-style: normal;
    }

    &__plates {

        &- {
        }

        &- {
        }

        &- {
        }
    }

    &__cost {
    }

    &__zero {
    }

    &__currency {
    }

    &__dollar {
    }

    &__txt {
    }

    &__button {
    }

    &__btn {
    }
}
.pricing-left {

    &__title {
    }

    &__text {
    }

    &__list {
    }

    &__item {
    }

    &__link {
    }
}
